{% for group, commits in commits | group_by(attribute="type") %}{% if group != "" %}### {{ group }}
{% for commit in commits %}- {% if commit.breaking_change %}**[BREAKING]** {% endif %}{% if commit.scope %}(**{{ commit.scope }}**) {% endif %}{{ commit.summary }}
{% endfor %}
{% endif %}{% endfor %}
