{{define "title"}}# Changelog{{end}}
{{define "subtitle"}}{{end}}
{{define "release.section"}}## [{{ .Version }}]{{ if .CompareURL }}({{ .CompareURL }}){{ end }} - {{ date "2006-01-02" .Date }}{{end}}
{{define "changelog"}}{{ template "release.section" . }}
{{range .Groups}}
{{ template "release.group" . }}
{{range .Commits}}
{{ template "commit.message" . }}
{{end}}
{{end}}{{ template "release.footer" . }}{{end}}
