{{define "header"}}## [{{ .Version }}]{{ if .CompareURL }}({{ .CompareURL }}){{ end }} - {{ date "2006-01-02" .Date }}{{end}}
{{define "changelog"}}{{ template "header" . }}
{{range .Groups}}
{{ template "group" . }}
{{range .Commits}}
{{ template "commit" . }}
{{end}}
{{end}}{{ template "footer" . }}{{end}}
