{{define "title"}}{{end}}
{{define "subtitle"}}{{end}}
{{define "release_header"}}{{end}}
{{define "release_notes"}}{{ template "release_header" . }}{{range .Groups}}{{ template "group" . }}
{{range .Commits}}
{{ template "commit" . }}{{ if .Body }}

{{ indent 4 .Body }}{{ end }}{{ if .Footers }}

{{ range $i, $f := .Footers }}{{ if $i }}
{{ end }}  {{ $f.Token }}: {{ $f.Value }}{{ end }}{{ end }}
{{end}}
{{end}}
{{if .Contributors}}{{ template "contributors" . }}{{end}}{{ template "stats" . }}{{ template "release_footer" . }}{{end}}
