{{define "header"}}{{end}}
{{define "release-notes"}}{{ template "header" . }}{{range .Groups}}{{ template "group" . }}
{{range .Commits}}
{{ template "commit" . }}{{ if .Body }}

{{ indent 4 .Body }}{{ end }}{{ if .Footers }}

{{ range $i, $f := .Footers }}{{ if $i }}
{{ end }}  {{ $f.Token }}: {{ $f.Value }}{{ end }}{{ end }}
{{end}}
{{end}}
{{if .Contributors}}{{ template "contributors" . }}{{end}}{{ template "stats" . }}{{ template "footer" . }}{{end}}
