{{range .Groups}}{{$.HeadingPrefix}} {{.Name}}
{{range .Commits}}
{{.Block}}
{{end}}
{{end}}
{{.HeadingPrefix}} Commit Statistics

- {{.CommitCount}} commit(s) contributed to the release.
- {{.CommitsTimespan}} day(s) passed between the first and last commit.
- {{.ConventionalCount}} commit(s) parsed as conventional.
- {{.TicketLinkCount}} linked issue(s) detected in commits.{{range .StatTicketLinks}}
  - [{{.Text}}]({{.Href}}) (referenced {{.Count}} time(s)){{end}}{{if .HasDaysSincePrev}}
- {{.DaysSincePrev}} day(s) passed between releases.{{end}}